In [4]:
hungry = True
if hungry:
    print('feed me')  
else:
    print('do not feed me')

feed me

In [7]:
loc = "auto shop"

In [8]:
if loc =="auto shop":
    print('buy a car')
else:
    print('do nothing')

buy a car

In [15]:
mylist=[1,2,3,4,7]

In [17]:
for i in mylist:
    print(f' This is {i}')

 This is 1
 This is 2
 This is 3
 This is 4
 This is 7

In [20]:
for i in mylist:
    if i%2==0:
        print(f'this is even:{i}')
    else:
        print(f'this is odd:{i}')

this is odd:1
this is even:2
this is odd:3
this is even:4
this is odd:7

In [26]:
list_sum=0
for i in mylist:
    list_sum = list_sum + i
    
print(list_sum)

17

In [28]:
data=[(3,3),('s','d'),('ram','sheeal')]

In [30]:
for (a,x) in data:
    print(a,x)

3 3
s d
ram sheeal

In [40]:
work={'q1':12,'q2':13}
for items in work.items():
    print(items)

('q1', 12)
('q2', 13)

#while loop will continue to execute a block of code while some condition remains True. 
for example while my pool is not full, keep filling pool wiht water.
Of while my dogs ar still hungry , leep feeding my dogs.

In [13]:
x=0
if x<=10:
    print(x)
    x=x*x

0

In [4]:
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
for num in range(2,9,2):
    print(num)

2
4
6
8

In [15]:
range(0,11,3)

range(0, 11, 3)

In [16]:
list(range(1,9,2))

[1, 3, 5, 7]

In [19]:
list=['egg','shyam','sugar','corn','starch','honey']
for i in enumerate(list):
    print(i)

(0, 'egg')
(1, 'shyam')
(2, 'sugar')
(3, 'corn')
(4, 'starch')
(5, 'honey')

In [20]:
list=[3,3,5,7]

In [24]:
for indenumerate (list):
    print(i)
    print(j)
    print('\n')

NameError: name 'numerate' is not defined

In [28]:
mylist1=[1,2,4,5,7]
mylist2=[4,4,6,6]

In [32]:
list(zip(mylist1,mylist2))

TypeError: 'zip' object is not callable

In [33]:
my=[3,4,4,5,6,7,87,8,8]

In [37]:
87 in my

True

In [38]:
'k'in 'i know you ohh knight of the thassyan empire'

True

In [39]:
'k1'in {'k1':45}

True

In [40]:
my_list=[10,20,30,40,50]

In [41]:
min(my_list)

10

In [42]:
max(my_list)

50

In [43]:
range(10)

range(0, 10)

In [44]:
print(range(10))

range(0, 10)

In [52]:
for h in range(8,18,2):
    print(h)

8
10
12
14
16

In [56]:
for s in range("a",'t',2):
    print(s)

TypeError: 'str' object cannot be interpreted as an integer

In [57]:
from random import shuffle

In [58]:
mylist=[2,3,5,6,8,91]

In [59]:
shuffle(mylist)

In [60]:
mylist

[91, 6, 5, 2, 8, 3]

In [61]:
mylist

[91, 6, 5, 2, 8, 3]

In [62]:
shuffle(mylist)

In [63]:
mylist

[2, 5, 3, 6, 91, 8]

In [64]:
mydice=[1,2,3,4,5,6]

In [65]:
shuffle(mydice)

In [66]:
mydice

[4, 5, 6, 2, 1, 3]

In [67]:
shuffle(mylist)

In [68]:
mylist

[2, 3, 8, 6, 5, 91]

In [71]:
form random import randint

SyntaxError: invalid syntax (3385856310.py, line 1)

In [72]:
randint(0,88)

NameError: name 'randint' is not defined

In [ ]:
result = input('my name is ')

In [2]:
result = input('my age in ')

my age in 30

In [3]:
result

'30'

In [4]:
type(result)

str

In [ ]:
#list comprehensions are a unique way of quickly creating a list wiht Python.
#if you find yourself using a for loop along with .append() to create a list, list comprehensions are a good alternatives!
#

In [5]:
mystring='asdfjkl'

In [6]:
mylist=[]
for i in mystring:
    mylist.append(i)

In [7]:
mylist

['a', 's', 'd', 'f', 'j', 'k', 'l']

In [8]:
mylist[x for x in range(1,11)]

SyntaxError: invalid syntax (2680408692.py, line 1)

In [9]:
mylist=[z**2 for z in range(1,11)]

In [10]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
mylist=[x for x in range(1,12) if x%2!=0]

In [14]:
mylist

[1, 3, 5, 7, 9, 11]

In [15]:
mylist=[]

In [21]:
for x in [44,5,5,6]:
    for y in [2,3,34,4]:
        mylist.append(x+y)

In [22]:
mylist

[46, 47, 78, 48, 7, 8, 39, 9, 7, 8, 39, 9, 8, 9, 40, 10]

In [23]:
len(mylist)

16

In [24]:
my_list=[x*y for x in [1,2,3] for y in [2,3,4]]

In [25]:
my_list

[2, 3, 4, 4, 6, 8, 6, 9, 12]

In [28]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [20]:
de=[l for l in range(0,51) if l%3==0]

In [21]:
de

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [8]:
st= 'Print only the words that start with s in the sentence'

In [14]:
for i in st.split():
    if i[0]=='s' or i[0]=='S':
        print(i)

start
s
sentence

In [17]:
list(range(0,10,2))

TypeError: 'list' object is not callable

In [19]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [22]:
st= 'Print every word in this sentence that has an even number is letters'

In [26]:
for i in st.split():
    if len(i)%2==0:
        print(i)

word
in
this
sentence
that
an
even
number
is

In [12]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print("FizzBuzz")##########doubt.....ask if the order is changed what difference happen
        
    elif num%3==0:
        print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)
        #DOUBT TO CLEAR

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

for num in range(1,101):
    print(num)

In [13]:
# USE LIST COMPREHENSION TO CREATE A LIST OF THE FIRST LETTERS OF EVERY WORD IN THE STRING BELOW?
st='Create a list of the first letters of every word in this string'

In [20]:
[i[0] for i in st]# why this happen when .split() is not used

['C',
 'r',
 'e',
 'a',
 't',
 'e',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 'l',
 'e',
 't',
 't',
 'e',
 'r',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'w',
 'o',
 'r',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [21]:
[i[0] for i in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [1]:
#BUILT IN OBJECTS IN PYTHON HAVE A VARIETY OF METHODS YOU CAN USE!
mylist.

SyntaxError: invalid syntax (978268460.py, line 2)

In [3]:
mylist=[1,2,3]

In [5]:
mylist.reverse()

In [13]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
mylist

[3, 7, 2, 1, 7]

In [ ]:
#Creating clean repeatable code is a key part if becoming an effective programmer.
# Functions allow us to create blocks of code that can be easily executed many times,
#without needing to constantly rewrite the entire block of code.
# def name_of_function():

In [14]:
def say_hello(name):
    print(f'iam {name}')

In [19]:
say_hello("raj")

iam raj

In [20]:
def add_num(num1,num2):
    return num1+num2

In [25]:
 x=add_num(29,20) # what is the benefit of assigning the vlaue x to add_sum and diff, btw print and return

In [24]:
x  # why out is shown in this case but not in print case

49

In [27]:
def myfunc(a,e):
    print(a+e)
    return a+e

In [28]:
myfunc(2,4) # why giving two results##

6

6

In [29]:
# RETURN TRUE IF ANY NUMBER IS TRUE INSIDE A LIST

In [30]:
def check_even_list (num):
    for i in num:
        if i%2==0:
            return True
        else:
            pass# what if we here instead of pass write return False

In [31]:
check_even_list([2,3,4])

True

In [32]:
check_even_list([1,1])